###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/environment.html
###
[DEFAULT]
statsd_server = localhost
statsd_port = 8125
statsd_prefix = feideconnect.coreapis
cassandra_contact_points = server1, server2, server3
cassandra_keyspace = feideconnect

[app:main]
use = egg:core-apis
filter-with = cassandramiddleware
pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =

# 32 base64 encoded bytes (used to generate profile image tokens)
profile_token_secret = 9SFpfeAhjGl8HHA/GtjXSvbN8Q0r7PDiuOgPKyI/92c=
peoplesearch.cache_keyspace = fc_ps_cache
clientadm_maxrows = 100
apigkadm_maxrows = 100

# By default, the toolbar only appears for clients from IP addresses
# '127.0.0.1' and '::1'.
# debugtoolbar.hosts = 127.0.0.1 ::1

###
# wsgi server configuration
###

[server:main]
use = egg:pyramid#cherrypy
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/logging.html
###

[loggers]
keys = root, coreapis

[handlers]
keys = console

[formatters]
keys = generic, json

[logger_root]
level = DEBUG
handlers = console

[logger_coreapis]
level = DEBUG
handlers =
qualname = coreapis

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

[formatter_json]
format = {"time": "%(asctime)s", "loglevel": "%(levelname)-5.5s", "logger":  "%(name)s", %(message)s }
class = coreapis.utils.DebugLogFormatter

[filter:mockauthmiddleware]
use = egg:core-apis#mockauthmiddleware

[filter:cassandramiddleware]
use = egg:core-apis#cassandramiddleware
# do not rate monitor clients which are below this share
client_max_share = 0.1
# Max steady state calls per sec for a client
client_max_rate = 10
# Max burst size for a client
client_max_burst_size = 10

[filter:logmiddleware]
use = egg:core-apis#logmiddleware

[filter:corsmiddleware]
use = egg:core-apis#corsmiddleware
