{
    "realm1.example.com": {
        "display": "Test realm 1",
        "servers": [ "server1.realm1.example.com", "server2.realm1.example.com:63636", "server3.realm1.example.com" ],
        "base_dn": "cn=people,dc=example,dc=com"
        "exclude": "(hiddenUser=TRUE)"
    },
    "realm2.example.org": {
        "display": "Test realm 2",
        "servers": ["server.realm2.example.org:636"],
        "base_dn": "dc=foo,dc=bar,ou=realm2,dc=example,dc=org"
        "bind_user": {
            "dn": "cn=search_user,ou=auth,dc=example,dc=org",
            "password": "verysecret"
        }
    }
}
