###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/environment.html
###
[DEFAULT]
statsd_server = {{getv "/fc/statsd/server"}}
statsd_port = {{getv "/fc/statsd/port"}}
statsd_prefix = {{getv "/fc/statsd/prefix"}}
oauth_realm = {{getv "/fc/oauth/realm"}}
cassandra_contact_points = {{getv "/fc/cassandra/contactpoints"}}
cassandra_keyspace = {{getv "/fc/cassandra/keyspace"}}
{{if exists "/fc/cassandra/username"}}
cassandra_username = {{getv "/fc/cassandra/username"}}
cassandra_password = {{getv "/fc/cassandra/password"}}
cassandra_cacerts = /conf/cassandraca.pem
{{end}}
log_timings = {{getv "/fc/logtimings"}}
use_eventlets = true

[app:coreapis]
use = egg:core-apis
pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
enabled_components = groups,status
ldap_config_file = /conf/ldap-config.json
ldap_ca_certs = /conf/ldap_certs.txt
groups_timeout_backend = {{getv "/fc/groups/timeout"}}
groups_backend_adhoc = coreapis.groups.adhoc_backend:AdHocGroupBackend
groups_backend_org = coreapis.groups.ldap_backend:LDAPBackend
groups_backend_orgadmin = coreapis.groups.orgadmin_backend:OrgAdminBackend
groups_backend_platformadmin = coreapis.groups.platformadmin_backend:PlatformAdminBackend
groups_backend_fs = coreapis.groups.fs_backend:FsBackend
platformadmins_file = /conf/platformadmins.json
fs_base_url = {{getv "/fc/fs/baseurl"}}
fs_username = {{getv "/fc/fs/username"}}
fs_password = {{getv "/fc/fs/password"}}
status_token = {{getv "/fc/status/token"}}


[pipeline:main]
pipeline =
         logmiddleware
         ratelimitmiddleware
         corsmiddleware
         cassandramiddleware
         coreapis
# By default, the toolbar only appears for clients from IP addresses
# '127.0.0.1' and '::1'.
# debugtoolbar.hosts = 127.0.0.1 ::1

###
# wsgi server configuration
###

[server:main]
use = egg:gunicorn
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/logging.html
###

[loggers]
keys = root, coreapis, cassandra

[handlers]
keys = docker

[formatters]
keys = json

[logger_root]
level = DEBUG
handlers = docker

[logger_coreapis]
level = DEBUG
handlers =
qualname = coreapis

[logger_cassandra]
level = INFO
handlers =
qualname = cassandra

[handler_docker]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = json

[formatter_json]
class = coreapis.utils.DebugLogFormatter

[filter:mockauthmiddleware]
use = egg:core-apis#mockauthmiddleware

[filter:cassandramiddleware]
use = egg:core-apis#cassandramiddleware

[filter:logmiddleware]
use = egg:core-apis#logmiddleware

[filter:corsmiddleware]
use = egg:core-apis#corsmiddleware

[filter:ratelimitmiddleware]
use = egg:core-apis#ratelimitmiddleware
client_max_share = {{getv "/fc/ratelimit/maxshare"}}
client_max_rate = {{getv "/fc/ratelimit/maxrate"}}
client_max_burst_size= {{getv "/fc/ratelimit/maxburstsize"}}
